.card{
    background-color: lightslategray;
    width: 300px;
    height: 500px;
    border: 4px solid gray;
    font-family: 'Dancing Script', cursive;
    padding-bottom: 50px;
}

.card-img{
    width: 300px;
    
}

.card-name{
 text-align: center;
 color:honeydew;
 font-size: 30px;
}

.card-text{
    color: honeydew;
    text-align: center;
    font-size: 20px;
}

.card-price{
    font-size: 40px;
    display: block;
    text-align: center;
}